body {
  background-color: #000;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}       

h1 {
  font-size: 48px;
  font-weight: 300;
  color: #39c;
  text-align: center;
  padding-top: 24px;
}

header{
  background-image: url("../assets/Web_Top.png"), url("../assets/Web_Top2.png");
  background-repeat: no-repeat, repeat;
  background-color: #000;
  background-position-y: -100px, 0;
  background-position-x: -300px, 0;
  height: 100px;
  width: 100%;
  margin-bottom: 30px;
}

section {
  margin: 0 auto;
  background-color: #000;
  min-height: calc(100vh - 600px);
  /* display: flex;
  flex-direction: column;
  flex: 1; */
  /* height: 100%; */
  color: #ccc;
  margin-left: 200px;
  margin-right: 200px;
}

footer {
  margin: 0 auto;
  background-image: url(../assets/Web_Bottom.png);
  height: 400px;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* margin-left: 200px;
  margin-right: 200px; */
}

footer p{
  color: #ccc;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}

p{
}

a{
  color: #39c;
}